/* CSS reset */
/* line 22, ../sass/style.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 26, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 30, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 34, ../sass/style.scss */
fieldset, img {
  border: 0;
}

/* line 37, ../sass/style.scss */
input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}

/* line 43, ../sass/style.scss */
address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 47, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 50, ../sass/style.scss */
caption, th {
  text-align: left;
}

/* line 53, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 57, ../sass/style.scss */
q:before, q:after {
  content: '';
}

/* line 60, ../sass/style.scss */
abbr, acronym {
  border: 0;
}

/* General Demo Style */
/* line 63, ../sass/style.scss */
body {
  background: #000;
  font-weight: 400;
  font-size: 15px;
  color: #FFF;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* line 71, ../sass/style.scss */
.ie7 body {
  overflow: hidden;
}

/* line 74, ../sass/style.scss */
a {
  color: #FFF;
  text-decoration: none;
}

/* line 78, ../sass/style.scss */
.container {
  position: relative;
  text-align: center;
}

/* line 82, ../sass/style.scss */
.clr {
  clear: both;
}

/* line 86, ../sass/style.scss */
.clear:before, .clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 93, ../sass/style.scss */
.clear:after {
  clear: both;
}

/* line 97, ../sass/style.scss */
p {
  line-height: 1.8em;
}

/* line 99, ../sass/style.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  font-family: "Open Sans", sans-serif;
}

/* line 118, ../sass/style.scss */
.user-block {
  border-radius: 1000px;
}

/* line 122, ../sass/style.scss */
.page-wrap {
  margin: 0 auto;
  height: 100%;
  position: relative;
}

/* line 131, ../sass/style.scss */
.blurred-bg {
  background: rgba(0, 0, 0, 0.45);
  margin: 0;
  height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

/* line 142, ../sass/style.scss */
.main-content {
  width: 54.71698%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}

/* line 148, ../sass/style.scss */
.playlist img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* line 154, ../sass/style.scss */
aside {
  width: 43.39623%;
  float: left;
  margin-right: -100%;
  margin-left: 62.26415%;
  clear: none;
  background: #3f3f3f;
}

/* line 158, ../sass/style.scss */
.top-wrap {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(109, 111, 113, 0.75);
  z-index: 5;
}

/* line 166, ../sass/style.scss */
.mid-wrap {
  z-index: 1;
}

/* line 171, ../sass/style.scss */
.pg-home .top-wrap {
  max-height: 160px;
  background-color: transparent;
}

/* line 178, ../sass/style.scss */
.pg-playlist .top-wrap {
  height: 100px;
}

/* line 182, ../sass/style.scss */
.pg-playlist .mid-wrap {
  margin-top: 100px;
}

/* line 187, ../sass/style.scss */
.pg-playlist-details .top-wrap {
  max-height: 150px;
}

/* line 191, ../sass/style.scss */
.pg-playlist-details .mid-wrap {
  margin-top: 170px;
}

/* line 195, ../sass/style.scss */
.pg-playlist-details .top-heading {
  margin-bottom: 0px;
}

/* line 199, ../sass/style.scss */
.bottom-wrap {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* line 205, ../sass/style.scss */
.top-menu {
  float: left;
  margin: 10px;
}

/* line 209, ../sass/style.scss */
.scrubber-row {
  background-color: rgba(109, 111, 113, 0.75);
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 10px;
}

/* line 217, ../sass/style.scss */
.scrubber-row > div {
  display: inline-block;
  float: left;
}

/* line 222, ../sass/style.scss */
.song-text {
  margin-left: 10px;
}

/* line 225, ../sass/style.scss */
.song-text > div {
  clear: both;
  display: block;
  height: 18px;
  line-height: 26px;
}

/* line 232, ../sass/style.scss */
.scrubber-row .player-controls {
  float: right;
  width: 105px;
}

/* line 237, ../sass/style.scss */
.forecast-row {
  padding: 0px 20px 20px 20px;
  height: 155px;
  background: rgba(128, 128, 128, 0.75);
}

/* line 242, ../sass/style.scss */
.heading {
  border-bottom: solid 3px #FFF;
  padding: 5px 0px;
  font-size: 16px;
}

/* line 247, ../sass/style.scss */
.weather-details {
  width: 240px;
}

/* line 251, ../sass/style.scss */
.digits {
  display: inline-block;
}

/* line 253, ../sass/style.scss */
.forecast-location {
  float: left;
}

/* line 256, ../sass/style.scss */
.forecast-time {
  float: right;
  text-align: right;
}

/* line 260, ../sass/style.scss */
.icon-small {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #FFF;
}

/* line 266, ../sass/style.scss */
.icon-med {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-color: #FFF;
}

/* line 273, ../sass/style.scss */
.icon-large {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: #FFF;
}

/* line 280, ../sass/style.scss */
.weather-details .forecast-location,
.weather-details .forecast-time {
  width: 50%;
}

/* line 286, ../sass/style.scss */
.top-heading .forecast-location,
.top-heading .forecast-obs,
.top-heading .forecast-time {
  width: 33%;
  display: inline-block;
}

/* line 291, ../sass/style.scss */
.top-heading div:first-child(2) {
  text-align: center;
}

/* line 295, ../sass/style.scss */
.now-playing span {
  color: #369BD6;
}

/* line 299, ../sass/style.scss */
.weather-details .forecast-details-wxicon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  float: left;
  height: 130px;
  margin-left: -15px;
  width: 130px;
}

/* line 310, ../sass/style.scss */
.top-heading .forecast-details-wxicon {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  float: left;
  height: 40px;
  margin-top: -10px;
  width: 40px;
  background-color: transparent;
}

/* line 322, ../sass/style.scss */
.top-heading {
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  bottom: 25px;
  display: block;
  width: auto;
  left: 25px;
  right: 25px;
}

/* line 334, ../sass/style.scss */
.content-obs-text {
  display: inline-block;
}

/* line 336, ../sass/style.scss */
.weather-details .content-obs-temp {
  font-size: 78px;
  height: 88px;
}

/* line 341, ../sass/style.scss */
.weather-details .content-obs-phrase {
  font-size: 24px;
}

/* line 344, ../sass/style.scss */
.weather-details .content-obs-temp, .weather-details .content-obs-phrase {
  display: block;
}

/* line 348, ../sass/style.scss */
.song-info-row, .playlist-row, .playlist-details-row, .playlist-suggestions-row {
  margin: 20px;
}

/* line 351, ../sass/style.scss */
.row {
  margin: 0 20px;
}

/* line 356, ../sass/style.scss */
h1.top-title {
  font-size: 24px;
  line-height: 55px;
}

/* line 360, ../sass/style.scss */
.menu-bar, .menu-bar a, .action-bar, .action-bar a {
  color: #FFFFFF;
}

/* line 361, ../sass/style.scss */
.menu-bar, .action-bar {
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  position: relative;
  border-bottom: solid 1px rgba(156, 156, 156, 0.6);
}

/* line 368, ../sass/style.scss */
.menu-bar {
  height: 55px;
}

/* line 371, ../sass/style.scss */
.menu-bar li {
  width: 20%;
  display: block;
  position: absolute;
}

/* line 376, ../sass/style.scss */
.menu-bar .icon-menu, .menu-bar .icon-settings {
  font-size: 45px;
  line-height: 55px;
}

/* line 377, ../sass/style.scss */
.menu-bar li:first-child {
  left: 0;
  width: 50px;
}

/* line 378, ../sass/style.scss */
.menu-bar li:last-child {
  right: 0;
  width: 50px;
  font-weight: 600;
}

/* line 379, ../sass/style.scss */
.menu-bar li:nth-child(2) {
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 380, ../sass/style.scss */
.action-bar {
  height: 45px;
}

/* line 383, ../sass/style.scss */
.action-bar span {
  font-size: 25px;
  line-height: 45px;
}

/* line 385, ../sass/style.scss */
.action-bar li {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: right;
  float: right;
  margin-left: 10px;
}

/* line 393, ../sass/style.scss */
.action-bar li:first-child {
  float: left;
  text-align: left;
  margin-left: 0;
}

/* line 400, ../sass/style.scss */
h1.section-title {
  float: left;
  display: inline-block;
  font-size: 30px;
}

/* line 406, ../sass/style.scss */
.song-info-actions {
  float: right;
  text-align: right;
  display: inline-block;
}

/* line 413, ../sass/style.scss */
.song-info-actions .icon-med:last-child {
  margin-left: 20px;
}

/* line 415, ../sass/style.scss */
.song-tags {
  padding-top: 15px;
}

/* line 418, ../sass/style.scss */
.song-tags, .playlist-info-txt {
  color: #999999;
  font-size: 12px;
}

/* line 421, ../sass/style.scss */
.playlist-item {
  height: 45px;
  line-height: 45px;
  border-top: solid 1px #999999;
  padding: 8px 0;
}

/* line 427, ../sass/style.scss */
.playlist-song-info {
  float: left;
  width: auto;
  display: inline-block;
  line-height: 1.3em;
}

/* line 433, ../sass/style.scss */
.playlist-song-title {
  font-size: 18px;
  line-height: 20px;
}

/* line 437, ../sass/style.scss */
.playlist-song-duration {
  float: right;
  width: 33%;
  text-align: right;
  display: inline-block;
}

/* line 443, ../sass/style.scss */
.playlist-song-number {
  width: 40px;
  float: left;
  text-align: left;
  display: inline-block;
  font-size: 14px;
}

/* line 450, ../sass/style.scss */
.playlist-artist-name {
  color: #999999;
  font-size: 12px;
}

/* line 454, ../sass/style.scss */
.playlist-thumbs {
  padding-top: 20px;
}

/* line 457, ../sass/style.scss */
.play-thumb {
  width: 25%;
  float: left;
  text-align: left;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 464, ../sass/style.scss */
.playlist-image-row {
  position: relative;
  display: block;
}

/* line 473, ../sass/style.scss */
.playlist-image-row img {
  width: 100%;
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
}

/* SLIDESHOW */
/* line 499, ../sass/style.scss */
.full-slideshow,
.full-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

/* line 510, ../sass/style.scss */
.full-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}
@media (min-width: 1px) {
  /* line 510, ../sass/style.scss */
  .full-slideshow li span {
    background-position: right center;
  }
}
@media (min-width: 768px) {
  /* line 510, ../sass/style.scss */
  .full-slideshow li span {
    background-position: 0 50%;
  }
}

/* line 535, ../sass/style.scss */
.full-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s;
}

/* line 550, ../sass/style.scss */
.full-slideshow li div h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 240px;
  padding: 0;
  line-height: 200px;
}

/* line 556, ../sass/style.scss */
.full-slideshow li:nth-child(1) span {
  background-image: url(http://s.imwx.com/img/mash/1.jpg);
}

/* line 559, ../sass/style.scss */
.full-slideshow li:nth-child(2) span {
  background-image: url(http://s.imwx.com/img/mash/2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 567, ../sass/style.scss */
.full-slideshow li:nth-child(3) span {
  background-image: url(http://s.imwx.com/img/mash/3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

/* line 575, ../sass/style.scss */
.full-slideshow li:nth-child(4) span {
  background-image: url(http://s.imwx.com/img/mash/4.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

/* line 583, ../sass/style.scss */
.full-slideshow li:nth-child(1) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 590, ../sass/style.scss */
.full-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 597, ../sass/style.scss */
.full-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

/* line 604, ../sass/style.scss */
.full-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  /* line 613, ../sass/style.scss */
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }

  /* line 615, ../sass/style.scss */
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }

  /* line 617, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 618, ../sass/style.scss */
  25% {
    opacity: 0;
  }

  /* line 619, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes imageAnimation {
  /* line 622, ../sass/style.scss */
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }

  /* line 624, ../sass/style.scss */
  8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }

  /* line 626, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 627, ../sass/style.scss */
  25% {
    opacity: 0;
  }

  /* line 628, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes imageAnimation {
  /* line 631, ../sass/style.scss */
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }

  /* line 633, ../sass/style.scss */
  8% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
  }

  /* line 635, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 636, ../sass/style.scss */
  25% {
    opacity: 0;
  }

  /* line 637, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes imageAnimation {
  /* line 640, ../sass/style.scss */
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }

  /* line 642, ../sass/style.scss */
  8% {
    opacity: 1;
    -ms-animation-timing-function: ease-out;
  }

  /* line 644, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 645, ../sass/style.scss */
  25% {
    opacity: 0;
  }

  /* line 646, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  /* line 649, ../sass/style.scss */
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  /* line 651, ../sass/style.scss */
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  /* line 653, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 654, ../sass/style.scss */
  25% {
    opacity: 0;
  }

  /* line 655, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

/* Animation for the title */
@-webkit-keyframes titleAnimation {
  /* line 659, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 660, ../sass/style.scss */
  8% {
    opacity: 1;
  }

  /* line 661, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 662, ../sass/style.scss */
  19% {
    opacity: 0;
  }

  /* line 663, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes titleAnimation {
  /* line 666, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 667, ../sass/style.scss */
  8% {
    opacity: 1;
  }

  /* line 668, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 669, ../sass/style.scss */
  19% {
    opacity: 0;
  }

  /* line 670, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes titleAnimation {
  /* line 673, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 674, ../sass/style.scss */
  8% {
    opacity: 1;
  }

  /* line 675, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 676, ../sass/style.scss */
  19% {
    opacity: 0;
  }

  /* line 677, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes titleAnimation {
  /* line 680, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 681, ../sass/style.scss */
  8% {
    opacity: 1;
  }

  /* line 682, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 683, ../sass/style.scss */
  19% {
    opacity: 0;
  }

  /* line 684, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  /* line 687, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 688, ../sass/style.scss */
  8% {
    opacity: 1;
  }

  /* line 689, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 690, ../sass/style.scss */
  19% {
    opacity: 0;
  }

  /* line 691, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

/* Show at least something when animations not supported */
/* line 694, ../sass/style.scss */
.no-cssanimations .full-slideshow li span {
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  /* line 699, ../sass/style.scss */
  .full-slideshow li div h3 {
    font-size: 140px;
  }
}
@media screen and (max-width: 600px) {
  /* line 702, ../sass/style.scss */
  .full-slideshow li div h3 {
    font-size: 80px;
  }
}
