/* line 21, ../sass/style.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #3f3f3f;
  font-family: "Open Sans";
}

/* line 37, ../sass/style.scss */
.page-wrap {
  max-width: 1050px;
  margin: 0 auto;
  min-height: 100%;
}

/* line 44, ../sass/style.scss */
.main-content {
  width: 54.71698%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}

/* line 50, ../sass/style.scss */
.playlist img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* line 56, ../sass/style.scss */
aside {
  width: 43.39623%;
  float: left;
  margin-right: -100%;
  margin-left: 62.26415%;
  clear: none;
  background: #3f3f3f;
}

/* line 60, ../sass/style.scss */
h2 {
  font-size: 26px;
}

/* line 62, ../sass/style.scss */
.playlist-results {
  padding: 20px;
  width: 100%;
}

/* line 64, ../sass/style.scss */
.playlist-results li {
  padding: 10px 0;
}

/* line 66, ../sass/style.scss */
#info {
  height: 24px;
}

/* line 70, ../sass/style.scss */
h2 {
  margin-top: 10px;
}

/* line 74, ../sass/style.scss */
#results {
  margin-top: 20px;
}

/* line 80, ../sass/style.scss */
.wx-geo {
  padding: 20px;
  background: none repeat scroll 0 0 #259DE4;
  color: #CCCCCC;
}

/* line 85, ../sass/style.scss */
.wx-geo:after {
  content: "";
  border-bottom: 10px solid rgba(0, 0, 0, 0);
  border-top: 10px solid rgba(0, 0, 0, 0);
  display: inline-block;
  height: 0;
  left: 100%;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 0;
}

/* line 100, ../sass/style.scss */
.wx-geo p {
  font-size: 12px;
  line-height: 1.25em;
  margin: 0 0 4px;
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

/* line 108, ../sass/style.scss */
.wx-geo h2 {
  background: none repeat scroll 0 0 rgba(0, 106, 168, 0.4);
  font-size: 18px;
  line-height: 1.25em;
  border-radius: 3px 3px 3px 3px;
  margin: 7px 0 0;
  padding: 5px 10px;
  color: #FFFFFF;
}

/* line 118, ../sass/style.scss */
.wx-geo .controls {
  margin: 10px 0 0;
}

/* line 122, ../sass/style.scss */
.wx-geo.autodetect.active .primary:before {
  border-bottom: 7px solid #006AA8;
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 0;
  left: 10px;
  position: absolute;
  top: -7px;
  width: 0;
}

/* line 135, ../sass/style.scss */
.wx-geo .primary:before {
  border-bottom: 7px solid #259DE4;
  border-left: 7px solid rgba(0, 0, 0, 0);
  border-right: 7px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 0;
  left: 10px;
  position: absolute;
  top: -7px;
  width: 0;
}
