/* line 19, ../sass/style.scss */
.hide {
  display: block;
}

/* CSS reset */
/* line 21, ../sass/style.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

/* line 25, ../sass/style.scss */
html, body {
  margin: 0;
  padding: 0;
}

/* line 30, ../sass/style.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 34, ../sass/style.scss */
fieldset, img {
  border: 0;
}

/* line 37, ../sass/style.scss */
input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}

/* line 43, ../sass/style.scss */
address, caption, cite, code, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}

/* line 47, ../sass/style.scss */
ol, ul {
  list-style: none;
}

/* line 50, ../sass/style.scss */
caption, th {
  text-align: left;
}

/* line 53, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 57, ../sass/style.scss */
q:before, q:after {
  content: '';
}

/* line 60, ../sass/style.scss */
abbr, acronym {
  border: 0;
}

/* line 62, ../sass/style.scss */
body {
  background: #000;
  font-weight: 400;
  font-size: 15px;
  color: #FFF;
}

/* line 69, ../sass/style.scss */
.ie7 body {
  overflow: hidden;
}

/* line 72, ../sass/style.scss */
a {
  color: #FFF;
  text-decoration: none;
}

/* line 76, ../sass/style.scss */
.container {
  position: relative;
  overflow-y: auto;
  height: 200px;
}

/* line 82, ../sass/style.scss */
.clr {
  clear: both;
}

/* line 86, ../sass/style.scss */
.clear:before, .clear:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 93, ../sass/style.scss */
.clear:after {
  clear: both;
}

/* line 97, ../sass/style.scss */
p {
  line-height: 1.8em;
}

/* line 99, ../sass/style.scss */
body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000000;
  font-family: "Open Sans", sans-serif;
}

/* line 118, ../sass/style.scss */
.user-block {
  border-radius: 1000px;
}

/* line 122, ../sass/style.scss */
.page-wrap, .flip-container, .flipper, .front {
  margin: 0 auto;
  height: 100%;
  position: relative;
}

/* line 148, ../sass/style.scss */
.playlist img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* line 154, ../sass/style.scss */
aside {
  background: #3f3f3f;
}

/* line 158, ../sass/style.scss */
.top-wrap {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgba(109, 111, 113, 0.75);
  z-index: auto;
  zoom: 1;
}

/* line 167, ../sass/style.scss */
.mid-wrap {
  z-index: 1;
}

/* line 172, ../sass/style.scss */
.pg-home .top-wrap {
  max-height: 160px;
  background-color: transparent;
}

/* line 179, ../sass/style.scss */
.pg-playlist .top-wrap {
  height: 100px;
}

/* line 183, ../sass/style.scss */
.pg-playlist .mid-wrap {
  margin-top: 100px;
}

/* line 188, ../sass/style.scss */
.pg-playlist-details .top-wrap {
  max-height: 150px;
}

/* line 192, ../sass/style.scss */
.pg-playlist-details .mid-wrap {
  margin-top: 170px;
}

/* line 196, ../sass/style.scss */
.pg-playlist-details .top-heading {
  margin-bottom: 0px;
}

/* line 200, ../sass/style.scss */
.bottom-wrap {
  position: fixed;
  left: 0;
  bottom: 50px;
  width: 100%;
}

/* line 206, ../sass/style.scss */
.top-menu {
  float: left;
  margin: 10px;
}

/* line 220, ../sass/style.scss */
.scrubber-inner-wrap {
  width: auto;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 225, ../sass/style.scss */
.scrubber-row {
  display: block;
  height: 60px;
  line-height: 50px;
  padding: 10px;
}

/* line 234, ../sass/style.scss */
.scrubber-row > div {
  display: inline-block;
  float: left;
}

/* line 239, ../sass/style.scss */
.song-text {
  margin-left: 10px;
  height: 18px;
  line-height: 20px;
}
/* line 243, ../sass/style.scss */
.song-text span {
  display: block;
}

/*
.song-text > div {
    clear: both;
    display:block;
  height: 18px;
  //line-height: 26px;

}
*/
/* line 256, ../sass/style.scss */
.scrubber-row .player-controls {
  float: right;
  width: 110px;
}

/* line 261, ../sass/style.scss */
.forecast-row {
  padding: 0px 20px 20px 20px;
  height: 160px;
}

/* line 265, ../sass/style.scss */
.heading {
  border-bottom: solid 3px #FFF;
  padding: 5px 0px;
  font-size: 16px;
}

/* line 270, ../sass/style.scss */
.weather-details {
  display: inline-block;
}

/* line 275, ../sass/style.scss */
.digits {
  display: inline-block;
}

/* line 277, ../sass/style.scss */
.forecast-location {
  float: left;
}

/* line 280, ../sass/style.scss */
.forecast-time {
  float: right;
  text-align: right;
}

/* line 285, ../sass/style.scss */
#global-settings img {
  margin-top: 10px;
}

/* line 286, ../sass/style.scss */
.icon-small img {
  margin-top: 8px;
}

/* line 288, ../sass/style.scss */
.icon-small {
  width: 8px;
  height: 8px;
  display: inline-block;
}

/* line 294, ../sass/style.scss */
.icon-med {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-color: #FFF;
}

/* line 301, ../sass/style.scss */
.icon-large {
  width: 35px;
  height: 35px;
  display: inline-block;
}

/* line 308, ../sass/style.scss */
.weather-details .forecast-location,
.weather-details .forecast-time {
  width: 50%;
}

/* line 314, ../sass/style.scss */
.top-heading .forecast-location,
.top-heading .forecast-obs,
.top-heading .forecast-time {
  width: 33%;
  display: inline-block;
}

/* line 319, ../sass/style.scss */
.top-heading .forecast-obs {
  width: 43%;
}

/* line 320, ../sass/style.scss */
.top-heading .forecast-time {
  float: right;
  width: 20%;
}

/* line 322, ../sass/style.scss */
.top-heading div:first-child(2) {
  text-align: center;
}

/* line 326, ../sass/style.scss */
.now-playing span {
  color: #369BD6;
}

/* line 330, ../sass/style.scss */
.weather-details .forecast-details-wxicon {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  float: left;
  height: 130px;
  margin-left: -15px;
  width: 130px;
}

/* line 341, ../sass/style.scss */
.top-heading .forecast-details-wxicon {
  background-position: 50% 0%;
  background-repeat: no-repeat;
  background-size: 90% 90%;
  float: left;
  height: 40px;
  margin-top: -10px;
  width: 40px;
  background-color: transparent;
}

/* line 353, ../sass/style.scss */
.top-heading {
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  bottom: 25px;
  display: block;
  width: auto;
  left: 25px;
  right: 25px;
}

/* line 365, ../sass/style.scss */
.content-obs-text {
  display: inline-block;
}

/* line 367, ../sass/style.scss */
.weather-details .content-obs-temp {
  font-size: 65px;
  height: 70px;
}

/* line 372, ../sass/style.scss */
.weather-details .content-obs-phrase {
  font-size: 20px;
}

/* line 375, ../sass/style.scss */
.weather-details .content-obs-temp, .weather-details .content-obs-phrase {
  display: block;
}

/* line 379, ../sass/style.scss */
.song-info-row, .playlist-row, .playlist-details-row, .playlist-suggestions-row {
  margin: 20px;
}

/* line 383, ../sass/style.scss */
.row, .playlist-suggestions-row {
  margin: 0 20px;
}

/* line 388, ../sass/style.scss */
h1.top-title {
  font-size: 24px;
  line-height: 55px;
}

/* line 392, ../sass/style.scss */
.menu-bar, .menu-bar a, .action-bar, .action-bar a {
  color: #FFFFFF;
}

/* line 393, ../sass/style.scss */
.menu-bar, .action-bar {
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.8);
  color: #FFFFFF;
  position: relative;
  border-bottom: solid 1px rgba(156, 156, 156, 0.6);
}

/* line 400, ../sass/style.scss */
.menu-bar {
  height: 55px;
}

/* line 403, ../sass/style.scss */
.menu-bar li {
  width: 20%;
  display: block;
  position: absolute;
}

/* line 408, ../sass/style.scss */
.menu-bar .icon-menu, .menu-bar .icon-music_bars {
  font-size: 45px;
  line-height: 55px;
}

/* line 409, ../sass/style.scss */
.menu-bar li:first-child {
  left: 0;
  width: 50px;
}

/* line 410, ../sass/style.scss */
.menu-bar li:last-child {
  right: 0;
  width: 50px;
  font-weight: 600;
}

/* line 411, ../sass/style.scss */
.menu-bar li:nth-child(2) {
  position: absolute;
  text-align: center;
  width: 100%;
}

/* line 412, ../sass/style.scss */
.action-bar {
  height: 45px;
}

/* line 415, ../sass/style.scss */
.action-bar span {
  font-size: 25px;
  line-height: 45px;
}

/* line 417, ../sass/style.scss */
.action-bar li {
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: right;
  float: right;
  margin-left: 10px;
}

/* line 425, ../sass/style.scss */
.action-bar li:first-child {
  float: left;
  text-align: left;
  margin-left: 0;
}

/* line 432, ../sass/style.scss */
h1.section-title {
  float: left;
  display: inline-block;
  font-size: 24px;
  padding-bottom: 10px;
}

/* line 439, ../sass/style.scss */
.song-info-actions {
  float: right;
  text-align: right;
  display: inline-block;
}

/* line 446, ../sass/style.scss */
.song-info-actions .icon-med:last-child {
  margin-left: 20px;
}

/* line 448, ../sass/style.scss */
.song-tags {
  padding-top: 15px;
}

/* line 451, ../sass/style.scss */
.song-info-row .song-tags, .song-info-row .playlist-info-txt {
  color: #999999;
}

/* line 454, ../sass/style.scss */
.song-tags, .playlist-info-txt {
  font-size: 12px;
}

/* line 457, ../sass/style.scss */
.playlist-item {
  height: 55px;
  line-height: 45px;
  border-top: solid 1px #999999;
  padding: 8px 0;
}

/* line 463, ../sass/style.scss */
.playlist-song-info {
  float: left;
  width: auto;
  display: inline-block;
  line-height: 1.3em;
}

/* line 469, ../sass/style.scss */
.playlist-song-title {
  font-size: 18px;
  line-height: 20px;
}

/* line 473, ../sass/style.scss */
.playlist-song-duration {
  float: right;
  width: 33%;
  text-align: right;
  display: inline-block;
}

/* line 479, ../sass/style.scss */
.playlist-song-number {
  width: 40px;
  float: left;
  text-align: left;
  display: inline-block;
  font-size: 14px;
}

/* line 486, ../sass/style.scss */
.playlist-artist-name {
  color: #999999;
  font-size: 12px;
}

/* line 490, ../sass/style.scss */
.playlist-thumbs {
  padding-top: 20px;
}

/* line 493, ../sass/style.scss */
.play-thumb {
  width: 25%;
  float: left;
  text-align: left;
  display: inline-block;
  margin-bottom: 10px;
}

/* line 500, ../sass/style.scss */
.playlist-image-row {
  position: relative;
  display: block;
}

/* line 509, ../sass/style.scss */
.playlist-image-row img {
  width: 100%;
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
}

/* SLIDESHOW */
/* line 535, ../sass/style.scss */
.full-slideshow,
.full-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

/* line 546, ../sass/style.scss */
.full-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: imageAnimation 36s linear infinite 0s;
  -moz-animation: imageAnimation 36s linear infinite 0s;
  -o-animation: imageAnimation 36s linear infinite 0s;
  -ms-animation: imageAnimation 36s linear infinite 0s;
  animation: imageAnimation 36s linear infinite 0s;
}
@media (min-width: 1px) {
  /* line 546, ../sass/style.scss */
  .full-slideshow li span {
    background-position: right center;
  }
}
@media (min-width: 768px) {
  /* line 546, ../sass/style.scss */
  .full-slideshow li span {
    background-position: 0 50%;
  }
}

/* line 571, ../sass/style.scss */
.full-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  -webkit-animation: titleAnimation 36s linear infinite 0s;
  -moz-animation: titleAnimation 36s linear infinite 0s;
  -o-animation: titleAnimation 36s linear infinite 0s;
  -ms-animation: titleAnimation 36s linear infinite 0s;
  animation: titleAnimation 36s linear infinite 0s;
}

/* line 586, ../sass/style.scss */
.full-slideshow li div h3 {
  font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
  font-size: 240px;
  padding: 0;
  line-height: 200px;
}

/* line 592, ../sass/style.scss */
.full-slideshow li:nth-child(1) span {
  background-image: url(http://s.imwx.com/img/mash/1.jpg);
}

/* line 595, ../sass/style.scss */
.full-slideshow li:nth-child(2) span {
  background-image: url(http://s.imwx.com/img/mash/2.jpg);
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 603, ../sass/style.scss */
.full-slideshow li:nth-child(3) span {
  background-image: url(http://s.imwx.com/img/mash/3.jpg);
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

/* line 611, ../sass/style.scss */
.full-slideshow li:nth-child(4) span {
  background-image: url(http://s.imwx.com/img/mash/4.jpg);
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

/* line 619, ../sass/style.scss */
.full-slideshow li:nth-child(1) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 626, ../sass/style.scss */
.full-slideshow li:nth-child(2) div {
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}

/* line 633, ../sass/style.scss */
.full-slideshow li:nth-child(3) div {
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}

/* line 640, ../sass/style.scss */
.full-slideshow li:nth-child(4) div {
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s;
}

/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
  /* line 649, ../sass/style.scss */
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
  }

  /* line 651, ../sass/style.scss */
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
  }

  /* line 653, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 654, ../sass/style.scss */
  25% {
    opacity: 0;
  }

  /* line 655, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes imageAnimation {
  /* line 658, ../sass/style.scss */
  0% {
    opacity: 0;
    -moz-animation-timing-function: ease-in;
  }

  /* line 660, ../sass/style.scss */
  8% {
    opacity: 1;
    -moz-animation-timing-function: ease-out;
  }

  /* line 662, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 663, ../sass/style.scss */
  25% {
    opacity: 0;
  }

  /* line 664, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes imageAnimation {
  /* line 667, ../sass/style.scss */
  0% {
    opacity: 0;
    -o-animation-timing-function: ease-in;
  }

  /* line 669, ../sass/style.scss */
  8% {
    opacity: 1;
    -o-animation-timing-function: ease-out;
  }

  /* line 671, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 672, ../sass/style.scss */
  25% {
    opacity: 0;
  }

  /* line 673, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes imageAnimation {
  /* line 676, ../sass/style.scss */
  0% {
    opacity: 0;
    -ms-animation-timing-function: ease-in;
  }

  /* line 678, ../sass/style.scss */
  8% {
    opacity: 1;
    -ms-animation-timing-function: ease-out;
  }

  /* line 680, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 681, ../sass/style.scss */
  25% {
    opacity: 0;
  }

  /* line 682, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  /* line 685, ../sass/style.scss */
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  /* line 687, ../sass/style.scss */
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  /* line 689, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 690, ../sass/style.scss */
  25% {
    opacity: 0;
  }

  /* line 691, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

/* Animation for the title */
@-webkit-keyframes titleAnimation {
  /* line 695, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 696, ../sass/style.scss */
  8% {
    opacity: 1;
  }

  /* line 697, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 698, ../sass/style.scss */
  19% {
    opacity: 0;
  }

  /* line 699, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes titleAnimation {
  /* line 702, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 703, ../sass/style.scss */
  8% {
    opacity: 1;
  }

  /* line 704, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 705, ../sass/style.scss */
  19% {
    opacity: 0;
  }

  /* line 706, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-o-keyframes titleAnimation {
  /* line 709, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 710, ../sass/style.scss */
  8% {
    opacity: 1;
  }

  /* line 711, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 712, ../sass/style.scss */
  19% {
    opacity: 0;
  }

  /* line 713, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@-ms-keyframes titleAnimation {
  /* line 716, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 717, ../sass/style.scss */
  8% {
    opacity: 1;
  }

  /* line 718, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 719, ../sass/style.scss */
  19% {
    opacity: 0;
  }

  /* line 720, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

@keyframes titleAnimation {
  /* line 723, ../sass/style.scss */
  0% {
    opacity: 0;
  }

  /* line 724, ../sass/style.scss */
  8% {
    opacity: 1;
  }

  /* line 725, ../sass/style.scss */
  17% {
    opacity: 1;
  }

  /* line 726, ../sass/style.scss */
  19% {
    opacity: 0;
  }

  /* line 727, ../sass/style.scss */
  100% {
    opacity: 0;
  }
}

/* Show at least something when animations not supported */
/* line 730, ../sass/style.scss */
.no-cssanimations .full-slideshow li span {
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  /* line 735, ../sass/style.scss */
  .full-slideshow li div h3 {
    font-size: 140px;
  }
}
@media screen and (max-width: 600px) {
  /* line 738, ../sass/style.scss */
  .full-slideshow li div h3 {
    font-size: 80px;
  }
}
/* simple */
/* line 746, ../sass/style.scss */
.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  perspective: 1000;
}

/* line 755, ../sass/style.scss */
.flip-container.hover .flipper, #flip-toggle.flip .flipper {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
  filter: FlipH;
  -ms-filter: "FlipH";
}

/* line 764, ../sass/style.scss */
.flip-container, .front, .back {
  width: 100%;
  height: 100%;
}

/* line 769, ../sass/style.scss */
.flipper {
  -webkit-transition: 0.6s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 0.6s;
  -moz-transform-style: preserve-3d;
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

/* line 782, ../sass/style.scss */
.front, .back {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 792, ../sass/style.scss */
.front {
  z-index: 2;
}

/* line 797, ../sass/style.scss */
.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* vertical */
/* line 806, ../sass/style.scss */
.vertical.flip-container {
  position: relative;
}

/* line 810, ../sass/style.scss */
.vertical .back {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg);
}

/* line 816, ../sass/style.scss */
.vertical.flip-container .flipper {
  -webkit-transform-origin: 100% 213.5px;
  -moz-transform-origin: 100% 213.5px;
  transform-origin: 100% 213.5px;
}

/* line 822, ../sass/style.scss */
.vertical.flip-container:hover .flipper {
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
