


//////////////////////////////
// Set legacy support
//
// If you need support for IE6 or IE7, you should install the Box Sizing polyfill.
// In your project's folder from the command line, type the following:
// compass install singularitygs/box-sizing
//////////////////////////////
$legacy-support-for-ie6:     false;
$legacy-support-for-ie7:     false;
$legacy-support-for-mozilla: false;

// Import Base
//////////////////////////////
@import "partials/base";


/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
/* General Demo Style */
body{
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #FFF;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ie7 body{
	overflow:hidden;
}
a{
	color: #FFF;
	text-decoration: none;
}
.container{
	position: relative;
	//text-align: center;
}
.clr{
	clear: both;
}

.clear:before, .clear:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clear:after {
	clear: both;
}

p {line-height: 1.8em}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  //background-color: #f3f3f3;
  background: #000000;
  font-family: "Open Sans", sans-serif;
}

$grids: 18;
//$grids: add-grid(6 at 30em);
//$grids: add-grid(9 at 40em);
//$grids: add-grid(12 at 50em);
$gutters: .5;

// css circle
$border-circle: 1000px !default;


.user-block {
  border-radius: $border-circle;
}

.page-wrap, .flip-container, .flipper, .front {
  //@include background-grid;
  //max-width: 1050px;
  margin: 0 auto;
  height: 100%;
  position:relative;
}


//.blurred-bg {
//  background: rgba(0, 0, 0, 0.45);
//  margin: 0;
//  height: 100%;
//  min-width: 100%;
//  position: absolute;
//  top: 0;
//  bottom: 0;
//}


.main-content{
  //@include grid-span(10, 1);
  //background: #3f3f3f;
 
}

.playlist img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

aside {
  //@include grid-span(8, 12);
  background: #3f3f3f;
}
.top-wrap {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(109, 111, 113, 0.75);
  z-index: auto;
  zoom:1;

}
.mid-wrap {
  z-index: 1;

}
// Playlist Page
.pg-home .top-wrap {
    max-height: 160px;
    background-color: transparent;


}
// Playlist Page
.pg-playlist .top-wrap {
    height: 100px;

}
.pg-playlist .mid-wrap {
  margin-top: 100px;

}
// Playlist Details Page
.pg-playlist-details .top-wrap {
    max-height: 150px;

}
.pg-playlist-details .mid-wrap {
  margin-top: 170px;

}
.pg-playlist-details .top-heading {
    margin-bottom: 0px;
}

.bottom-wrap {
    position: fixed;
    left:0;
    bottom: 50px;
    width: 100%;
}
.top-menu {
  float: left;
  margin: 10px;
}
//.scrubber-details {
//  position: absolute;
//  bottom: -100%;
//}
//.container, .scrubber-inner, .scrubber-wrapper {
//  min-height: 100%;
//  min-width: 100%;
//  display: block;
//}

.scrubber-inner-wrap {
  width: auto;
  height: 1000px;
  background-color: rgba(0, 0, 0, .7);
}
.scrubber-row {
    //background-color: rgba(0, 0, 0, 0.85);
    display:block;
    height: 60px;
    line-height: 50px;
    padding: 10px;


}
.scrubber-row > div {
  display: inline-block;
  float: left;
}

.song-text {
  margin-left: 10px;
}
.song-text > div {
    clear: both;
    display:block;
  height: 18px;
  line-height: 26px;

}
.scrubber-row .player-controls {
  float: right;
  width: 105px;
}

.forecast-row {
    padding: 0px 20px 20px 20px;
    height: 135px;
}
.heading {
    border-bottom: solid 3px #FFF;
    padding: 5px 0px;
    font-size: 16px
}
.weather-details {
    width: 218px;
}

.digits {display: inline-block;}

.forecast-location {
  float:left;
}
.forecast-time {
  float:right;
  text-align: right;
}
.icon-small {
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #FFF;
}
.icon-med {
  width: 28px;
  height: 28px;
  display: inline-block;
  background-color: #FFF;
}

.icon-large {
  width: 35px;
  height: 35px;
  display: inline-block;
  background-color: #FFF;
}
.weather-details .forecast-location,
.weather-details .forecast-time {
  width:50%;
}

.top-heading .forecast-location,
.top-heading .forecast-obs,
.top-heading .forecast-time {
  width:33%;
  display: inline-block;
}

.top-heading div:first-child(2) {
  text-align: center;
}

.now-playing span {
  color: #369BD6;
}

.weather-details .forecast-details-wxicon {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    //border-radius: 150px 150px 150px 150px;
    float: left;
    height: 130px;
    margin-left: -15px;
    width: 130px;
}

.top-heading .forecast-details-wxicon {
    background-position: 50% 0%;
    background-repeat: no-repeat;
    background-size: 90% 90%;
    //border-radius: 150px 150px 150px 150px;
    float: left;
    height: 40px;
    margin-top: -10px;
    width: 40px;
    background-color: transparent;
}

.top-heading {
  font-size: 18px;
  line-height: 20px;
  position: absolute;
  bottom: 25px;
  display: block;
  width: auto;
  left: 25px;
  right: 25px;

}

.content-obs-text {display: inline-block}

.weather-details .content-obs-temp {
  font-size:65px;
  height: 70px;

}
.weather-details .content-obs-phrase {
font-size: 20px;
}
.weather-details .content-obs-temp, .weather-details .content-obs-phrase {
  display:block;
}

.song-info-row, .playlist-row, .playlist-details-row, .playlist-suggestions-row {
  margin: 20px;
}

 .row, .playlist-suggestions-row {
     margin: 0 20px;
 }


h1.top-title {
    font-size:24px;
    line-height: 55px;
}
.menu-bar, .menu-bar a, .action-bar, .action-bar a {color: #FFFFFF;}
.menu-bar, .action-bar {
    padding: 0 10px;
    background: rgba(0,0,0,0.8);
    color: #FFFFFF;
    position: relative;
    border-bottom: solid 1px rgba(156, 156, 156, 0.6);
}
.menu-bar {
    height: 55px;
}
.menu-bar li {
  width:20%;
  display: block;
  position: absolute;
}
.menu-bar .icon-menu, .menu-bar .icon-settings {font-size: 45px; line-height: 55px;}
.menu-bar li:first-child {left: 0; width: 50px}
.menu-bar li:last-child {right: 0; width: 50px; font-weight: 600;}
.menu-bar li:nth-child(2) {position: absolute; text-align: center; width: 100%}
.action-bar {
    height: 45px;
}
.action-bar span {font-size: 25px; line-height: 45px;}

.action-bar li{
    width: 35px;
    height: 35px;
    display: inline-block;
    text-align: right;
    float: right;
    margin-left: 10px;
}
.action-bar li:first-child {
    float: left;
    text-align: left;
    margin-left: 0;
}


h1.section-title {
  float: left;
  display: inline-block;
  font-size: 24px;
  padding-bottom: 10px
  //may need max-width
}
.song-info-actions {
  float: right;
  //width:33%;
  text-align: right;
  display: inline-block;

}
.song-info-actions .icon-med:last-child {margin-left: 20px}

.song-tags {
  padding-top: 15px;
}
.song-info-row .song-tags, .song-info-row .playlist-info-txt {
  color: #999999;
}
.song-tags, .playlist-info-txt {
  font-size: 12px;
}
.playlist-item {
  height: 55px;
  line-height: 45px;
  border-top: solid 1px #999999;
  padding: 8px 0;
}
.playlist-song-info {
  float: left;
  width:auto;
  display: inline-block;
  line-height: 1.3em;
}
.playlist-song-title {
  font-size: 18px;
  line-height: 20px
}
.playlist-song-duration {
  float: right;
  width:33%;
  text-align: right;
  display: inline-block;
}
.playlist-song-number {
  width: 40px;
  float: left;
  text-align: left;
  display: inline-block;
  font-size: 14px
}
.playlist-artist-name {
  color: #999999;
  font-size: 12px;
}
.playlist-thumbs {
  padding-top:20px
}
.play-thumb {
  width: 25%;
  float: left;
  text-align: left;
  display: inline-block;
  margin-bottom: 10px;
}
.playlist-image-row {
position: relative;
  //height: 150px;
  //overflow: hidden;
  display: block;
//min-height: 200px;


}
.playlist-image-row img {
  width: 100%;
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;

}


// Breakpoints

$mobile-portrait: 1px;
$mobile-portrait-321: 321px;
$mobile-landscape-min: 480px;
$mobile-landscape-max: 640px;
$tablet-portrait: 768px;
//$tablet-landscape: "only screen" 1024px (orientation landscape);
$tablet-landscape: 1024px;
$desktop: 1025px;




/* SLIDESHOW */

.full-slideshow,
.full-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
}



.full-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
	-webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 36s linear infinite 0s;
    -moz-animation: imageAnimation 36s linear infinite 0s;
    -o-animation: imageAnimation 36s linear infinite 0s;
    -ms-animation: imageAnimation 36s linear infinite 0s;
    animation: imageAnimation 36s linear infinite 0s;

    @include breakpoint($mobile-portrait){
    background-position: right center;
  }
  @include breakpoint($tablet-portrait){
    background-position: 0 50%;
  }
}
.full-slideshow li div {
    z-index: 1000;
    position: absolute;
    bottom: 30px;
    left: 0px;
    width: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    -webkit-animation: titleAnimation 36s linear infinite 0s;
    -moz-animation: titleAnimation 36s linear infinite 0s;
    -o-animation: titleAnimation 36s linear infinite 0s;
    -ms-animation: titleAnimation 36s linear infinite 0s;
    animation: titleAnimation 36s linear infinite 0s;
}
.full-slideshow li div h3 {
    font-family: 'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 240px;
    padding: 0;
    line-height: 200px;
}
.full-slideshow li:nth-child(1) span {
    background-image: url(http://s.imwx.com/img/mash/1.jpg)
}
.full-slideshow li:nth-child(2) span {
    background-image: url(http://s.imwx.com/img/mash/2.jpg);
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.full-slideshow li:nth-child(3) span {
    background-image: url(http://s.imwx.com/img/mash/3.jpg);
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.full-slideshow li:nth-child(4) span {
    background-image: url(http://s.imwx.com/img/mash/4.jpg);
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
.full-slideshow li:nth-child(1) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.full-slideshow li:nth-child(2) div {
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;
}
.full-slideshow li:nth-child(3) div {
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    -o-animation-delay: 12s;
    -ms-animation-delay: 12s;
    animation-delay: 12s;
}
.full-slideshow li:nth-child(4) div {
    -webkit-animation-delay: 18s;
    -moz-animation-delay: 18s;
    -o-animation-delay: 18s;
    -ms-animation-delay: 18s;
    animation-delay: 18s;
}
/* Animation for the slideshow images */
@-webkit-keyframes imageAnimation {
    0% { opacity: 0;
    -webkit-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -webkit-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes imageAnimation {
    0% { opacity: 0;
    -moz-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -moz-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes imageAnimation {
    0% { opacity: 0;
    -o-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -o-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes imageAnimation {
    0% { opacity: 0;
    -ms-animation-timing-function: ease-in; }
    8% { opacity: 1;
         -ms-animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes imageAnimation {
    0% { opacity: 0;
    animation-timing-function: ease-in; }
    8% { opacity: 1;
         animation-timing-function: ease-out; }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
/* Animation for the title */
@-webkit-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-moz-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-o-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@-ms-keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
@keyframes titleAnimation {
    0% { opacity: 0 }
    8% { opacity: 1 }
    17% { opacity: 1 }
    19% { opacity: 0 }
    100% { opacity: 0 }
}
/* Show at least something when animations not supported */
.no-cssanimations .full-slideshow li span{
	opacity: 1;
}

@media screen and (max-width: 1140px) {
    .full-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
    .full-slideshow li div h3 { font-size: 80px }
}



//  FLIPPER

		/* simple */
		.flip-container {
			-webkit-perspective: 1000;
			-moz-perspective: 1000;
			perspective: 1000;

			//border: 1px solid #ccc;
		}


			.flip-container.hover .flipper, #flip-toggle.flip .flipper {
				-webkit-transform: rotateY(180deg);
				-moz-transform: rotateY(180deg);
				transform: rotateY(180deg);
				filter: FlipH;
    			-ms-filter: "FlipH";
			}


		.flip-container, .front, .back {
			width: 100%;
			height: 100%;
		}

		.flipper {
			-webkit-transition: 0.6s;
			-webkit-transform-style: preserve-3d;

			-moz-transition: 0.6s;
			-moz-transform-style: preserve-3d;

			transition: 0.6s;
			transform-style: preserve-3d;

			position: relative;
		}

		.front, .back {
			-webkit-backface-visibility: hidden;
			-moz-backface-visibility: hidden;
			backface-visibility: hidden;

			position: absolute;
			top: 0;
			left: 0;
		}

		.front {
			//background: lightgreen;
			z-index: 2;
		}

		.back {
			//background: lightblue;
			-webkit-transform: rotateY(180deg);
			-moz-transform: rotateY(180deg);
			transform: rotateY(180deg);
		}


		/* vertical */
		.vertical.flip-container {
			position: relative;
		}

			.vertical .back {
				-webkit-transform: rotateX(180deg);
				-moz-transform: rotateX(180deg);
				transform: rotateX(180deg);
			}

			.vertical.flip-container .flipper {
				-webkit-transform-origin: 100% 213.5px;
				-moz-transform-origin: 100% 213.5px;
				transform-origin: 100% 213.5px;
			}

			.vertical.flip-container:hover .flipper {
				-webkit-transform: rotateX(-180deg);
				-moz-transform: rotateX(-180deg);
				transform: rotateX(-180deg);
			}